DB_URL=postgresql://postgres.nemefsvhywplrqjratci:NeavD3ABdKBppYVC@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5lbWVmc3ZoeXdwbHJxanJhdGNpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5MzgzNDUsImV4cCI6MjA4OTUxNDM0NX0.UCcPgqzfkU62kY-A23aabFRrZPjfB7qZEoiJFS8H1SQ
SUPABASE_STORAGE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5lbWVmc3ZoeXdwbHJxanJhdGNpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzkzODM0NSwiZXhwIjoyMDg5NTE0MzQ1fQ.Nb2jBfSexkG-Q3vHkE_88GtOiOsy5z3qrlNBW5AATEw
SUPABASE_STORAGE_BUCKET=mybucket
SUPABASE_STORAGE_ENDPOINT=https://nemefsvhywplrqjratci.supabase.co
JWT_SECRET=fQFY0upYqULRNtgh6/ivLiVcQtNh01Zlzq0ejhDhXl9f0YFnMdOw7QFrBIARr5wl6CquQ+VvSt34o+A==